@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-solana {
  background: linear-gradient(#00FFA3, #DC1FFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
